#This is a basic workflow to help you get started with Actions

name: CI

on:
  push:
  schedule:
    - cron: '57 * * * *'

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  # This workflow contains a single job called "build"
  build:
    # The type of runner that the job will run on
    runs-on: ubuntu-latest

    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
      # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
      - uses: actions/checkout@v2
      
      - name: Setup Python
        uses: actions/setup-python@v3
        with:
           python-version: '3.9'

      - name: Set TimeZone
        run: |
          cp /usr/share/zoneinfo/Asia/Shanghai /etc/localtime
          date
      # Runs a set of commands using the runners shell
      - name: Run test
        run: |
          python -m pip install --upgrade pip
          pip install beautifulsoup4    
          pip install requests
          pip install lxml
          pip install PyGithub
          python git.py
          python getnew.py
      - name: commit test.db
        run: | 
          git config user.name hhackk
          git config user.email hack163com@163.com
          git add .
          git commit -m "test.db" || echo ok
          git push  || echo ok
          
      
